// All Base sections Here

.section-xs {
  padding: 2rem 0rem;
  width: 100%;
}

.section-s {
  padding: 3rem 0rem;
  width: 100%;
}

.section-m {
  padding: 4rem 0rem;
  width: 100%;
}
.section-l {
  padding: 6rem 0rem;
  width: 100%;
}
.section-lx {
  padding: 8rem 0rem;
  width: 100%;
}
.section {
  padding: 5rem 0rem;
  width: 100%;
}
