// Hero Section
.tech-slideshow {
  height: 200px;
  // max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.brand_b {
  width: 10rem !important;
}

.hero_withbg {
  background-image: linear-gradient(
      to right,
      rgba(37, 37, 37, 0.795),
      rgba(24, 24, 24, 0.103)
    ),
    url("../images/testimg.jpg");
  background-position: center;
  padding: 16rem;

  &--title {
    color: #00afff;
    font-size: 8rem;
  }

  &--para {
    font-size: 3rem !important;
    font-weight: 700;
    color: #eee;
  }

  &--btn {
    font-size: 1.7rem;
    min-width: 20rem;
    font-weight: 600;
    background-color: #00afff;
    color: #f8f8f8;
    border: none;
    padding: 1rem;
    margin-left: 1rem;
  }

  &--btn:hover {
    background-color: #015d88;
  }

  &--btn2 {
    font-size: 1.7rem;
    min-width: 20rem;
    font-weight: 600;
    background-color: #fff;
    color: #00afff;
    padding: 1rem;
    margin-left: 1rem;
  }

  &--btn2:hover {
    background-color: #015d88;
    color: #fff;
  }
}

// End Hero Section

.wyu_img {
  width: 98% !important;
}

// Brand Section
.tellus_card {
  border-radius: 0.5rem;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.tellus_card--effect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.336);
  top: 0;
  left: 0;
}

// .tellus_card--effect_word{

// }

.tellus_card--btn {
  background-color: #337ab7;
  color: #fff;
}

// Form borderbottom
.form_bb {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(156, 156, 156) !important;

  &:focus {
    border: 1px solid #337ab7 !important;
  }

  &--btn {
    background-color: #29b4e1;
    color: #fff;
    padding: 0.6rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $font_clr;
      color: #fff;
    }
  }
  &--btn2 {
    background-color: #29b4e1;
    color: #fff;
    border-radius: 3rem;
    padding: 1rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: $font_clr;
      color: #fff;
    }
  }
}

// Influncerform
.influencer_form {
  border-radius: 2rem;
}

.inf_form {
  padding: 1.3rem;
  border: 1px solid rgb(241, 241, 241);
}
.topbrand_img {
  width: 80% !important;
}

//
.network_people--img {
  width: 15rem;
  border-radius: 50%;
  overflow: hidden;
}

// Carrer
.carrer_link {
  background-color: #fff;
  padding: 1.4rem !important;
  color: rgb(70, 70, 70);
  border-radius: 5px;
  cursor: pointer;
  margin: 0.6rem !important;
}

.carrer_link--active {
  background-color: #003c6e;
  padding: 1.4rem !important;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.6rem !important;
}

.carrer_desc--content {
  padding: 1.4rem !important;
  margin: 0.6rem !important;
  border-radius: 5px;
  border: 1px solid #eee;
}

.carrer_table-head {
  width: 30%;
  padding: 1.5rem !important;
  font-size: 1.8rem;
  font-weight: 600;
}
.carrer_table-content {
  padding: 1.5rem !important;
}

.carrer_btn {
  text-align: right;
}

//  Why us

.whyus_card--img {
  width: 7rem;
}

// Case Studies
.cs_logo {
  width: 18rem !important;
}

.cs_hl {
  color: #337ab7;
}

.cs_img {
  height: 40rem;
}

.cs_btn {
  font-size: 2rem;
  border: 2px solid #003c6e;
  border-radius: 5rem;
  padding: 0.8rem;
}

// Contact Right

.contact_right {
  background-color: #003c6e;
  position: relative;
}

.contact_right--img1 {
  width: 60% !important;
  position: absolute;
  top: 10rem;
  left: 8rem;
}
.contact_right--img2 {
  width: 60% !important;
  position: absolute;
  top: 23rem;
  left: 16rem;
}

// Home Slider

.brand_img {
  width: 10rem;
  margin: 0.5rem;
}

@mixin white-gradient {
  // background: linear-gradient(
  //   to right,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(255, 255, 255, 0) 100%
  // );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: white;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  // height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  // width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}

// .testwu {
//   flex-flow: column-reverse;
// }

@media screen and (max-width: 780px) {
  .cs_img {
    height: 27rem;
  }

  .contact_right {
    height: 35rem;
  }

  .contact_right--img1 {
    width: 60% !important;
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  .contact_right--img2 {
    width: 60% !important;
    position: absolute;
    top: 10rem;
    left: 10rem;
  }

  .wyu_img {
    width: 80% !important;
    padding: 1rem;
  }

  .testwu {
    flex-wrap: wrap-reverse;
  }
}

.sidebar_mob {
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 60%;
  display: none;
  transition: all 0.3s ease;

  &-link {
    padding: 1rem 4rem !important;
    border-bottom: 1px solid #eee;
    color: rgb(68, 68, 68);
  }

  &-link:hover {
    background-color: rgb(240, 240, 240);
  }
}

.sidebar_visible {
  z-index: 2000 !important;
}

.slick-prev:before {
  color: red;
  font-size: 30px;
}

.slick-next:before {
  color: red;
  font-size: 30px;
}

.item {
  width: 85% !important;
  padding: 0.8rem;
}

.bq_img{
  border-radius: 5px;
}

@media screen and (max-width: 780px) {
  .section-s {
    padding: 2rem 0rem;
  }

  .item {
    width: 95% !important;
    padding: 0.8rem;
  }

  .hero_withbg {
    background-position: center;
    padding: 3rem;

    &--title {
      font-size: 4.5rem;
    }

    &--para {
      font-size: 2.4rem !important;
      line-height: 3.5rem;
    }

    &--btn {
      font-size: 1.4rem;
      padding: 0.8rem;
      min-width: 12rem;
      margin-left: 0rem;
    }

    &--btn2 {
      font-size: 1.4rem;
      padding: 0.8rem;
      min-width: 12rem;
      margin-left: 0rem;
    }
  }

  .site_header {
    padding: 1.5rem 0 !important;
  }

  .svc_card {
    margin: 2rem 2rem;
  }
}

// Form borderbottom

// Rest Code
// Service
// .svc_card--2 {
//   background-color: $;
// }

// Service
// .service_cards {
//   padding: 6rem 0 !important;
// }
