.xsicon {
  font-size: 1.4rem;
}
.sicon {
  font-size: 1.8rem;
}
.micon {
  font-size: 2.2rem;
}
.licon {
  font-size: 2.5rem;
}
.xlicon {
  font-size: 3rem;
}

//  Svg Icons
.site_icons {
  width: 8rem;
}
