@font-face {
  font-family: OpenSans-Regular;
  src: url(../Font/OpenSans-Regular.ttf);
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0px;
}

.colimag {
  margin-left: -62px;
  margin-top: -29px;
}

.colimag img {
  margin-left: 375px;
  margin-top: -40px;
  height: 70vh;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.majordiv {
  margin-top: 3vw;
}

/*.form-box{
  background-image: url(./images/FORMcopy.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  margin-left: 1rem;
}*/

.supreme-left h2 {
  margin-top: 66%;
  font-size: 2.7rem;
}

.supreme-left {
  /* padding-left: 12%; */
  left: 6%;
}

.supreme-left p {
  font-size: 20px;
  width: 26vw;
}

.supreme-right {
  /* background-image: url(../images/Phone.png);
  background-repeat: no-repeat;
  height: 67vh;
  left: -177px;
  background-size: cover;
   top: -23px;
  z-index: -1; */
}

.supreme-right img {
  width: 80%;
}

.arrow-border {
  position: relative;
  /* top: 9.5vw; */
  /* left: -5vw; */
  margin-top: 13.5rem;
}

.left-arrow img,
.right-arrow img {
  height: 2vw;
}
.left-arrow img {
  left: -3vw;
  position: relative;
}

.pdbtm40 {
  padding-bottom: 40px;
}

.txtcntr {
  text-align: center;
}

.pdddtop {
  padding-top: 100px;
  background: #fff;
}

/* Style for "Earn money" */

.oi-main-text {
  width: 459px;
  height: 97px;
  color: #ffffff;
  font-family: "Circular Std - Black";
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  position: absolute;
  /*	top: 50%;*/
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.oi-incontent {
  font-size: 2.7vw;
  font-weight: 400;
  line-height: 2.5vw;
  position: absolute;
  top: 4vw;
  transform: translateY(-50%);
  left: 4vw;
}
.modelimg img {
  margin-top: 7vw;
  width: 70%;
  height: 41vw;
  width: auto;
}

.oi-formtext {
  color: #2c2e32;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding: 0px 49px 0px 0px;
  /*	font-family: "Circular Std";*/
}

.circle {
  background-image: url(../images/Circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 22vh;
  position: relative;
  margin-left: -120px;
  background-position: 0% 0rem;
  z-index: -1;
  top: 418px;
}

/*.form-img {
  background-image: url(./images/Dots.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 2rem;
  top: -25px;
  left: -22px;
  height: 76vh;
}*/

/* Style for "Rectangle" */

.oi-loginform {
  width: 407px;
  background-color: #ffffff;
  padding: 31px 29px 40px;
  position: absolute;
  right: 0px;
  /* top: 100px;*/
  top: 50%;
  transform: translateY(-50%);
}

/* Style for "Rounded Re" */

.oi-loginput {
  width: 344px;
  height: 60px;
  border: 1px solid #212429;
  background-color: #ffffff;
  padding: 20px;
}

.oi-loginput:nth-of-type(3) {
  border-top: none;
  /*border-bottom: none;*/
  border-radius: 0px;
}

.oi-loginput:nth-of-type(4) {
  border-bottom: none;
  border-radius: 0px;
}

.oi-loginput:nth-of-type(1) {
  border-radius: 4px 4px 0px 0px;
}

.oi-loginput:nth-of-type(4) {
  border-radius: 0px 0px 4px 4px;
}

.oi-joinnetwork {
  border-radius: 4px;
  background-color: #29b4e1;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  position: relative;
  text-align: left;
  padding-left: 20px;
}

.oi-loginform button > img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.oi-benefitsection {
  margin: 50px 0px;
  display: none;
}

.oi-benifits {
  text-align: center;
  padding: 20px;
}

.oi-benifits-img img {
  /* Style for "achievemen" */
  width: 130px;
  height: 130px;
  border: 1px solid #ffffff;
  object-fit: cover;
  border-radius: 50%;
}

.oi-benifits p {
  color: #2c2e32;
  /*font-family: Circular Std;*/
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 35px 0px 25px;
}

/* Style for "Get access" */

.oi-benifits span {
  width: 279px;
  height: 49px;
  color: #2c2e32;
  /*font-family: Circular Spotify Text;*/
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.oi-networksection {
  margin-top: -6%;
}

.oi-networking {
  left: 18%;
  position: relative;
}

.oi-circularimg {
  padding-top: 20px;
}

.oi-circularimg img {
  transition: all 0.9s ease-in-out;
  width: 150px;
  border: solid 2px transparent;
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  /*box-shadow: 0 0 35px rgba(125, 115, 115, 0.6); */
}

.oi-circularimg img:hover {
  /*transform: scale(1.1);*/
}

.child1 {
  left: 190px;
}

.child2 {
  left: 103px;
}

.child3 {
  left: 18px;
}

.child4 {
  left: -70px;
}

.child5 {
  left: -152px;
  z-index: -1;
}

.child6 {
  z-index: -2;
  left: -242px;
}

.child7 {
  z-index: -3;
  left: -327px;
}

.oi-influencerimg img {
  width: 50%;
  box-shadow: 10px 10px 8px #d4cdcd;
  object-fit: cover;
  border-radius: 12px;
  height: 76%;
}

.img-responsive {
  margin-left: -135px;
  z-index: -1;
}

.img-responsive1 {
  margin-top: -215px;
  z-index: -1;
  margin-left: 43%;
}

.oi-point {
  margin-top: 100px;
}

.oi-networksection p {
  font-size: 2.7rem;
  font-weight: bolder;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
}

.oi-networksection h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  margin: auto;
}

.oi-influencersection {
  text-align: center;
  overflow: hidden;
  margin-top: 15% !important;
}

.oi-influencersection h2 {
  color: #2c2e32;
  font-size: 3.5vw;
  margin: 0px 0px 0px;
  text-align: center;
}

.oi-number {
  font-family: "Adlinnaka-BoldDemo";
  font-size: 60px;
  font-weight: 600;
  line-height: 50px;
  margin-left: 15px;
}

.oi-step {
  text-align: left;
}

.oi-step h3 {
  color: #2c2e32;
  font-size: 51px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 5px;
  /* font-family: "Circular Std"; */
}

.oi-step p {
  color: #696868;
  /* font-family: "Circular Spotify Text"; */
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}

.oi-influencer {
  margin: 30px 0px;
  overflow: hidden;
  display: flex;
  height: auto;
}

.oi-trustsection {
  margin-top: 2rem !important;
}

.oi-trustsection h2 {
  color: #2c2e32;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 2vw;
  margin: 0px;
}

.oi-safety {
  text-align: center;
}

.oi-icontrust {
  width: 77px;
  height: 77px;
  line-height: 77px;
  margin-left: 30px;
}

.oi-icontrust > img {
  margin-top: -24px;
}

.oi-safety p {
  font-size: 20px;
}
.collapse.in {
  display: block;
}
.roatateimg {
  transition: transform 1s;
}

.rotate {
  transform: rotate(-180deg);
}

.oi-safety > p {
  /* margin: 30px 149px;
  text-align: center;
  font-family: Open-Light;*/
  margin-top: 12px;
}

.oi-trustpart {
  margin: 25px 0px 60px 80px;
}

.oi-trusttheory {
  text-align: left;
  padding-left: 6vw;
}

.oi-trusttheory span {
  font-weight: 600;
  color: #2c2e32;
  font-size: 2vw;
  border-bottom: solid 1.2px;
}

.founder {
}

.country_select {
  border: none;
  width: 100px;
  position: absolute;
  height: 56px;
  background: white;
  margin: 2px 0px 0px 2px;
}
#bio {
  color: #2c2e32;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 6%;
  margin-bottom: 34px;
  box-shadow: 5px 1px 22px #c3c3c37a;
  padding: 1rem;
  border-radius: 13px;
}
.oi-trusttheory p {
  font-size: 1rem;
}

.oi-trusttheory img {
  display: block;
  padding: 10px 0px 30px;
  height: 42px;
  width: 445px;
}

.oi-trustimg {
  /* Style for "Layer 16" */
  width: 389px;
  margin-top: -84px;
}

.oi-trustimg img {
  max-width: 100%;
  top: 19%;
  position: absolute;
  left: 8%;
}

.oi-question-section {
  /*text-align: center;*/
  /* margin: 100px 0px 60px; */
}

.oi-question-section h2 {
  color: #2c2e32;
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 38px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.oi-question-part {
  text-align: left;
  margin-bottom: 40px;
}

.oi-question {
  color: #29b4e1;
  /*font-family: "Circular Spotify Text";*/
  font-size: 1rem;
  font-weight: 600;
  line-height: 38px;
  margin-left: 6px;
}

.oi-subqheading {
  font-size: 20px;
  line-height: 38px;
  text-transform: uppercase;
}

.oi-arrowquestion {
  display: block;
  cursor: pointer;
}

.oi-footerimage {
  background-image: url(../images/Influencercopy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55vh;
}

.oi-footerimage button {
  width: 230px;
  height: 50px;
  margin-top: 40px;
  border: none;
}

.oi-infootercontainer {
  display: table;
  width: 100%;
  height: 55vh;
}

.oi-footercontent {
  display: table-cell;
  vertical-align: middle;
  padding-left: 46vw;
}

.oi-footer-heading {
  /* Style for "Start crea" */
  width: 402px;
  height: 108px;
  color: #ffffff;
  /*font-family: "Circular Std - Book";*/
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
}

.oi-footersection {
  display: block;
  font-size: 0;
  text-align: center;
}

.oi-footsection {
  display: inline-block;
  width: 25%;
  padding: 0px 20px;
  vertical-align: top;
  text-align: left;
}

.oi-footercontainer {
  width: 100%;
  padding: 0% 10%;
}

.oi-backtotop {
  text-align: center;
  padding-bottom: 20px;
}

.oi-hidden {
  overflow: hidden;
  text-align: center;
}

.oi-left {
  float: left;
}

.oi-center {
  display: inline-block;
}

.oi-right {
  float: right;
}

.panel-body {
  padding-left: 0px;
  /* width: 92%; */
  text-align: justify;
}

.oi-arrowquestion:focus {
  outline: none;
}
.oi-question-part hr {
  margin: 8px 0;
}

@media only screen and (max-width: 670px) {
  .country_select {
    height: 36px;
  }
  .oi-main-text {
    padding-left: 20px;
  }
  .oi-brand {
    width: 50%;
  }
  .oi-brandsection {
    padding: 30px;
  }
  .oi-footsection {
    width: 50%;
    padding: 0px 15px;
  }
  .oi-footercontainer {
    text-align: center;
  }
  .oi-left {
    float: none;
  }
  .oi-center {
    display: block;
  }
  .oi-right {
    float: none;
  }
  .news {
    padding-bottom: 15px;
  }
  .io-talent {
    font-size: 30px !important;
    line-height: 38px !important;
  }
  .oi-loginform {
    width: 347px;
    background-color: #ffffff;
    padding: 21px 19px 30px;
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 0px;
    margin-left: 20px;
  }
  .oi-formtext {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    padding: 1px 65px 0px 0px;
    /*    font-family: "Circular Std";*/
  }
  .oi-loginput {
    width: 284px;
    height: 40px;
    border: 1px solid #212429;
    background-color: #ffffff;
    padding: 20px;
  }
  .oi-joinnetwork {
    width: 270px;
    height: 42px;
    border-radius: 4px;
    background-color: #0fceda;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 20px;
    position: relative;
    text-align: left;
    padding-left: 20px;
  }
  .oi-main-text {
    width: 319px;
    height: 77px;
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
    position: absolute;
    top: 50px;
    left: 0px;
    transform: translateY(0%);
  }
  .oi-networksection h2 {
    font-size: 1.2rem;
    line-height: normal;
  }
  .oi-step h3 {
    font-size: 30px;
  }
  .oi-step h3 {
    font-size: 38px;
    line-height: 57px;
  }
  .oi-icontrust {
    width: 57px;
    height: 57px;
    line-height: 57px;
    margin-left: 0px;
  }
  .oi-influencersection h2 {
    margin: 50px 0px 35px;
  }
  .oi-footer-heading {
    /* Style for "Start crea" */
    width: 342px;
    height: 88px;
    /*font-family: "Circular Std - Book";*/
    font-size: 38px;
    line-height: 54px;
  }
}

.container-custom {
  width: 80%;
  margin: 0 10%;
}

/*Form CSS*/

.contbox {
  width: 75%;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact textarea,
#contact button[type="submit"] {
  /* font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif; */
}

#contact {
  padding: 1vw 1vw 3vw;
  box-shadow: 5px 10px 15px #c3c3c3;
  border-radius: 5%;
  margin-top: 1vw;
}

#contact h3 {
  display: block;
  font-weight: 800;
  margin-bottom: 16px;
  margin-left: 1vw;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: none;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact textarea {
  width: 100%;
  border: none;
  background: #fff;
  margin: 0 0 19px;
  padding: 1vw;
  font-size: 0.9vw;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="password"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 71%;
  border: none;
  background: #29b4e1;
  color: #fff;
  padding: 10px;
  font-size: 0.9vw;
  font-weight: 600;
  border-radius: 26px;
  text-transform: uppercase;
  height: 3.1vw;
}

#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.copyright {
  text-align: center;
}

/*#contact input:focus,
#contact textarea:focus {
outline: 0;
border: 1px solid #aaa;
}*/

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.form-table:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.reg {
  margin-top: 21px !important;
  border: none;
  background: #29b4e1;
  color: #fff;
  margin: 0 0 5px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 26px;
}

label.field-label {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  float: left;
  margin-top: 1.2vw;
}

.contact_form_text_field {
  width: 80vw;
  position: relative;
  padding: 0.3vw;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
  color: white;
  margin-left: 1rem;
}

.influencerbtn {
  cursor: pointer;
  width: 35%;
  border: none;
  background: #ffffff;
  color: #22272b;
  padding: 0vw;
  font-size: 1.3vw;
  font-weight: 600;
  border-radius: 26px;
  margin-top: 4vw;
}

.growing-txt {
  color: white;
  margin-left: -18px;
  font-size: 2.5vw;
  margin-top: 4vw;
}

.mod-cont {
  width: 70vw;
  margin: 0 -22vw;
  background-color: #22272b;
  margin-top: 6vw;
  height: 45vw;
}

.close {
  font-size: 2rem;
  color: white;
  opacity: 1;
}

.officeimg img {
  width: 33.7vw;
  height: 40vw;
  object-fit: cover;
}

.btn-primary:hover {
  color: #fff;
  background-color: #29b4e1;
  border-color: #29b4e1;
}

.btn-primary:focus {
  color: #fff;
  background-color: #29b4e1;
  border-color: #29b4e1;
  box-shadow: 0 0 0 0.2rem #29b4e1;
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #29b4e1;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #29b4e1;
  border-color: #29b4e1;
}

/*Media Query*/

@media only screen and (max-width: 600px) {
  .colimag img {
    height: 32vh;
  }
}

/* Crousel CSS */

#slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.carousel-control.left {
  background-image: none;
}

/*media query start for header*/

@media (max-width: 952px) {
  .majordiv {
    margin-top: 24vw;
  }
  .oi-incontent {
    line-height: 27px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #003c6e;
  }
  .modelimg img {
    margin-top: 3rem;
    width: 23rem;
    height: auto;
  }
  #contact h3 {
    font-size: 1.2rem;
  }
  .contbox {
    width: auto;
  }
  #contact input {
    font-size: 1rem !important;
  }
  .oi-influencersection h2 {
    font-size: 1.8rem;
    margin-bottom: auto;
    line-height: normal;
  }
  .oi-subqheading {
    font-size: 1rem;
  }
  .panel-body {
    width: auto;
  }
  .panel-body p {
    font-size: 0.8rem;
    line-height: 4vw;
  }
  .oi-trusttheory p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    line-height: 1.3;
    text-align: justify;
  }
  .oi-question {
    line-height: normal;
    font-size: 1rem;
  }
  .container-custom {
    width: auto;
    margin: 0 9px;
  }
  .oi-trustsection h2 {
    font-size: 1.8rem;
    line-height: normal;
    color: #003c6e;
    font-weight: bold;
    margin-top: inherit;
  }
  .oi-safety > p {
    margin: auto;
    font-size: 1rem;
    line-height: normal;
    text-align: justify;
  }
  .oi-trusttheory span {
    font-size: 1.2rem;
  }
  .oi-trustpart {
    margin: auto;
  }
  .image img {
    width: 40% !important;
  }
  .found-button {
    left: -16vw;
    float: right;
  }
  .supreme {
    display: none;
  }
  .plane {
    display: none;
  }
  #contact button[type="submit"] {
    width: auto;
    height: auto;
    font-size: 1rem;
  }
  .oi-networksection p {
    font-size: 1.8rem;
    line-height: 72px;
  }
  .oi-networksection {
    display: none;
  }
  .found-text {
    right: 5% !important;
  }
  .image {
    width: 22rem;
  }
  .mod-cont {
    width: auto;
    margin: auto;
    height: auto;
  }
  .officeimg img {
    height: auto;
    width: 76vw;
  }
  .growing-txt {
    font-size: 1.5rem;
  }
  .influencerbtn {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    width: auto;
  }
  .found-button {
    z-index: 5;
  }
  .bio {
    box-shadow: 5px 10px 15px #c3c3c3;
    padding: inherit;
    border-radius: 16px;
    margin: 2rem 0rem !important;
  }
  .oi-trustpart .row {
    width: 106%;
  }
}
